
BL/bin/Debug/

BL/obj/Debug/

DAL/bin/Debug/

Domain/bin/Debug/

Domain/obj/Debug/

Interfaces/bin/Debug/

Interfaces/obj/Debug/

packages/

DAL/obj/Debug/

WebApi/bin/

WebApi/obj/Debug/
/Server/*
/.vs/*
/obj/*
/bin/*
/packages/*